<div class="container">
  <form [formGroup]="settingsForm" class="row" (ngSubmit)="onSubmit()">

      <div class="mb-3 col-sm-12">
        <label for="avgCountValues" class="form-label">Werte Durchschnitt</label>
        <input id="avgCountValues" class="form-control" type="number" formControlName="avgCountValues">
      </div>
    
      <div class="mb-3 col-sm-12">
        <label for="thresholdCm" class="form-label">Schwellwert (cm)</label>
        <input id="thresholdCm" class="form-control" type="number" formControlName="thresholdCm">
      </div>
    
      <div class="mb-3 col-sm-12">
        <input type="submit" class="btn btn-primary" value="Submit"/>
      </div>
  </form>
</div>